# Ignore files in this folder
gitignore/

# ignore build files
build/


# ignore local test scaffold test files
tests/bootstrap.php
tests/test-sample.php
bin/install-wp-tests.sh
phpunit.xml.dist
.phpcs.xml.dist
.travis.yml
